<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jajcompany.jajmeup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PrincipalActivity"
            android:label="@string/app_name">
           <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.YouTubeJAJActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.LastAlarmActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.LoadingAlarm"
            android:label="Chargement du réveil" />

        <!--<receiver android:name=".activity.Test$OnReveilInfoTest" >
            <intent-filter>
                <action android:name="onReveilINFO" />
            </intent-filter>
        </receiver>-->

        <receiver android:name=".utils.Alarm$OnAlarm" >
            <intent-filter>
                <action android:name="onReveilRing"  android:exported="true" />
            </intent-filter>
        </receiver>

        <receiver android:name=".utils.Alarm$OnUpdateBetween" >
            <intent-filter>
                <action android:name="onUpdateTimer" android:exported="true" />
            </intent-filter>
        </receiver>

        <service
        android:name=".utils.AlarmNotificationService"
            android:exported="true" />
        <!--  <service
             android:name=".utils.TestService"
             android:enabled="true"/>

        <receiver android:name=".fragment.CommunityFragment$onAllFriends" >
             <intent-filter>
                 <action android:name="onAllFriendsTest" />
             </intent-filter>
         </receiver>-->

        <activity
        android:name=".activity.SettingsActivity"
        android:label="@string/title_activity_settings" />

        <activity
            android:name=".activity.AskingFriendsActivity"
            android:label="Demande d\'amis"/>

        <activity
            android:name=".activity.RegistrationActivity"
            android:label="Inscription"/>

        <activity android:name=".activity.ConnectRegistrationActivity" />

        <activity android:name=".activity.ConnectActivity"
            android:label="Connexion"/>

        <activity android:name=".activity.NotificationActivity"
            android:label="Notifications"/>
    </application>

</manifest>